<!DOCTYPE html>
<html>
<head>
    <title>Assign Mentor</title>
    <meta charset="utf-8">
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="/javascripts/jquery-2.1.1.min.js" type="text/javascript"></script>
    <script src="/javascripts/bootstrap.min.js" type="text/javascript"></script>
    <style type="text/css">

    </style>
    <script type="text/javascript">
        function PairStudents(){
                var MentorNum = $('#MentorNum').val(), StuNum = $('#StuNum').val();
                var data = { "MentorNum": MentorNum, StuNum:StuNum};

                $.ajax({
                    url:'/AssignMentor',
                    type:'POST',
                    data:data,
                    success:function(data,status){
                        if(status == 'success'){
                            alert('Paired students!')
							location.href='AssignMentor';
                        }
                    },
                    error:function(data,err){
                        alert('Fail to Pair！')
						location.href='AssignMentor';
                    }
                });
        }
    </script>
</head>
<body>
<div style="margin:100px auto;width: 500px;" class="add_c">
    <h1>Assign Mentor</h1>
        <a class="btn  btn-xs btn-primary" href="_AdministerHome" style="margin-left: 400px;">Back</a>
            <div class="panel-body">
            <caption><h3 class="text-info">Mentor Information</h3></caption>
                   <table class="table">
                      <th>Mentor Stu Num</th><th>Major  </th><th>GPA </th>
                    <%for(var i in Mentors){ if(!Mentors[i].cStuID)continue;%>
                      <tr><td><%=Mentors[i].cStuID%></td>
                      <td><%=Mentors[i].cStuMajor%></td>
                      <td><%=Mentors[i].cGPA%></td>
                      <%}%>
                    </table>

            <div class="panel-body">
            <caption><h3 class="text-info">New Student Information</h3></caption>
                   <table class="table">
                      <th>New Stu Num</th><th>Major </th>
                    <%for(var i in Newstus){ if(!Newstus[i].cStuID)continue;%>
                      <tr><td><%=Newstus[i].cStuID%></td>
                      <td><%=Newstus[i].cStuMajor%></td>
                      <%}%>
                    </table>

    <form action="#"  role="form" method="post" >
    	
      <table class="table">
        <th>Select Mentor</th>
		<th><select id="MentorNum">
		<%for(var i in Mentors){ if(!Mentors[i].cStuID)continue;%>
		<option value="<%=Mentors[i].cStuID%>"><%=Mentors[i].cStuID%></option>
		<%}%>
		</select>
        </th>
		<p>
    	<th>Select New Student</th>
		<th><select id="StuNum">
		<%for(var i in Newstus){ if(!Newstus[i].cStuID)continue;%>
		<option value="<%=Newstus[i].cStuID%>"><%=Newstus[i].cStuID%></option>
		<%}%>
		</select>
        </th>
      </table>
        <!--<input style="margin-top: 30px;" id="StuNum" type="text" class="form-control"  name="StuNum" placeholder="New Stu Num" />-->
        <input style="margin-top: 30px;" type="button" class="btn btn-success btn-block" onclick="PairStudents()" value="Pair These Students" /><!-- addcommodity() -->,
    </form>
</div>
</body>
</html>


