<!DOCTYPE html>
<html>
<head>
    <title>Choose HostFamily</title>
    <meta charset="utf-8">
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="/javascripts/jquery-2.1.1.min.js" type="text/javascript"></script>
    <script src="/javascripts/bootstrap.min.js" type="text/javascript"></script>
    <style type="text/css">

    </style>
    <script type="text/javascript">
        function addcommodity(){
                var name = $('#cname').val(), price = $('#cprice').val();
                var data = { "name": name, price:price,"imgSrc": "xmsz-"+Math.floor(Math.random()*5+1)+".jpg"};
                $.ajax({
                    url:'/addcommodity',
                    type:'POST',
                    data:data,
                    success:function(data,status){
                        if(status == 'success'){
                            alert('Add Sucess！')
                        }
                    },
                    error:function(data,err){
                        alert('Fail to add！')
                    }
                });
        }
    </script>
</head>
<body>
<div style="margin:100px auto;width: 500px;" class="add_c">
    <h1>Choose HostFamily</h1>
        <a class="btn  btn-xs btn-primary" href="home" style="margin-left: 400px;">Back</a>
            <div class="panel-body">
            <caption><h3 class="text-info">HostFamily Information</h3></caption>
                   <table class="table">
                      <th>HostFamily Name</th><th>HostFamily Reference  Num </th><th>Address </th>
                      <tr><td>MM</td><td>7788</td><td>19 King Street </td></tr>
                      <tr><td>FF</td><td>8899</td><td>19 Queen Street</td></tr>
                   </table>

    <form action="#"  role="form" method="post" >
        <input style="margin-top: 30px;" id="cname" type="text" class="form-control"  name="cname" placeholder="HostFamily Reference Num" />
        <input style="margin-top: 30px;" type="button" class="btn btn-success btn-block" onclick="" value="Choose HostFamily" /><!-- addcommodity() -->,
    </form>
</div>
</body>
</html>


