doctype html
html
  head
    title Choose HostFamily - GHelp
    meta(charset='utf-8')
    link(href='/stylesheets/bootstrap.min.css', rel='stylesheet', media='screen')
    script(src='/javascripts/jquery-2.1.1.min.js', type='text/javascript')
    script(src='/javascripts/bootstrap.min.js', type='text/javascript')
    style(type='text/css').
    script(type='text/javascript').
      function addcommodity(){
      var name = $('#cname').val(), price = $('#cprice').val();
      var data = { "name": name, price:price,"imgSrc": "xmsz-"+Math.floor(Math.random()*5+1)+".jpg"};
      $.ajax({
      url:'/addcommodity',
      type:'POST',
      data:data,
      success:function(data,status){
      if(status == 'success'){
      alert('Add Sucess£¡')
      }
      },
      error:function(data,err){
      alert('Fail to add£¡')
      }
      });
      }
  body
    .add_c(style='margin:100px auto;width: 500px;')
      h1 Choose HostFamily
      a.btn.btn-xs.btn-primary(href='home', style='margin-left: 400px;') Back
      .panel-body
        caption
          h3.text-info HostFamily Information
        table.table
          th HostFamily Name
          th HostFamily Reference  Num 
          th Address 
          tr
            td MM
            td 7788
            td 19 King Street 
          tr
            td FF
            td 8899
            td 19 Queen Street
        form(action='#', role='form', method='post')
          input#cname.form-control(style='margin-top: 30px;', type='text', name='cname', placeholder='HostFamily Reference Num')
          input.btn.btn-success.btn-block(style='margin-top: 30px;', type='button', onclick='', value='Choose HostFamily')
