<!DOCTYPE html>
<html>
<head>
    <title>Choose HostFamily</title>
    <meta charset="utf-8">
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="/javascripts/jquery-2.1.1.min.js" type="text/javascript"></script>
    <script src="/javascripts/bootstrap.min.js" type="text/javascript"></script>
    <style type="text/css">

    </style>
    <script type="text/javascript">
        function apply(){
                var name = $('#HostFamilyName').val()
                var data = { "name": name };
				console.log(name);

                $.ajax({
                    url:'/ChooseHostFamily',
                    type:'POST',
                    data:data,
                    success:function(data,status){
                        if(status == 'success'){
                            alert('Choose success, login again!')
							location.href='index';
                        }
                    },
                    error:function(data,err){
                        alert('Fail to Choose!')
						location.href='ChooseHostFamily';
                    }
                });
        }
    </script>
</head>
<body>
<div style="margin:100px auto;width: 500px;" class="add_c">
    <h1>Choose HostFamily</h1>
        <a class="btn  btn-xs btn-primary" href="home" style="margin-left: 400px;">Back</a>
            <div class="panel-body">
            <caption><h3 class="text-info">HostFamily Information</h3></caption>
                   <table class="table">
                      <th>HostFamily Name</th><th>Description </th><th>Address </th><th>Phone Num </th>
                    <%for(var i in HostFamilies){ if(!HostFamilies[i].cHostFamilyName )continue;%>
                      <tr><td><%=HostFamilies[i].cHostFamilyName%></td>
                      <td><%=HostFamilies[i].cDescription%></td> 
                      <td><%=HostFamilies[i].cAddress%></td>
                      <td><%=HostFamilies[i].cPhoneNum%></td>
                      <%}%>
                   </table>

    <form action="#"  role="form" method="post" >
    	
      <table class="table">
        <th>Select HostFamily </th>
		<th><select id="HostFamilyName">
		<%for(var i in HostFamilies){ if(!HostFamilies[i].cHostFamilyName )continue;%>
		<option value="<%=HostFamilies[i].cHostFamilyName%>"><%=HostFamilies[i].cHostFamilyName%></option>
		<%}%>
		</select>
        </th>
      </table>

        <input style="margin-top: 30px;" type="button" class="btn btn-success btn-block" onclick="apply()" value="Choose HostFamily" />
    </form>
</div>
</body>
</html>


