<!DOCTYPE html>
<html>
 
  <head>
    <title>Index</title>
	<meta charset="utf-8">
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" media="screen">
      <script src="/javascripts/jquery-2.1.1.min.js" type="text/javascript"></script>
      <script src="/javascripts/bootstrap.min.js" type="text/javascript"></script>
		<style type="text/css">
			.panel-title{
				font-size: 24px;
				font-weight: bold;
			}
            .spys{
                list-style-type: none;
            }
            .spys li{
                float: left;
                margin: 10px 10px;
                width: 180px;
                height: 230px;
            }
            .spys li div strong{
                color: red;
            }

		</style>
  </head>
<body bgcolor="#B0E2FF">
<div style="margin:50px auto;width: 900px;" bgcolor="#B0E2FF">
<caption><h3 class="text-primary">GHelp System</h3></caption>
<ul>
<a class="btn  btn-xs btn-success" href="ManageEvents" style="margin-right: 35px;">Manage Events</a>
<a class="btn  btn-xs btn-success" href="ViewStaff" style="margin-right: 35px;">View Staff</a>
<a class="btn  btn-xs btn-success" href="RegisterMentor" style="margin-right: 35px;">Register Mentor</a>
<a class="btn  btn-xs btn-success" href="ChooseHostFamily" style="margin-right: 35px;">Choose HostFamily</a>
<a class="btn  btn-xs btn-success" href="CommunicationBoard" style="margin-right: 35px;">Communication Board</a>
<a class="btn btn-xs btn-info" href="index">Logout</a></li>
</ul>
<div style="margin:30px;width: 900px;">
    <div class="panel panel-default" >
        <div class="panel-heading" style="height: 190px;">
                    <div style="text-align: left">
                        <span style="font-size:20px; font-weight:bold;"></span>
                        <div style="float: left;">
                            <caption><h3 class="text-info">Student Information</h3></caption>
                                <thead>
                                    <tr>
                                        <p><th style="width:100%;" class="text-left">Student Num: <%=user.cStuID%></th></p>
                                        <p><th>Student Name: <%=user.cStuName%></th></p>
                                        <p><th>Major: <%=user.cStuMajor%></th></p>
                                        <%if(user.cIsMentor && user.cPairedStuNum ){%><p><th>Your assigned student is <%=user.cPairedStuNum%></th></p>
                                          <%}%>
										<%if(!user.cIsMentor && user.cPairedStuNum ){%><p><th>Your mentor is <%=user.cPairedStuNum%></th></p>
                                          <%}%>
										<%if(user.cIsMentor && !user.cPairedStuNum ){%><p><th>You are a mentor, and waiting the assignment.%></th></p>
                                          <%}%>
                                        </tr>	
                                    </thead>

                        </div>
                    </div>
                </div>
        <div class="panel-body">
            <caption><h3 class="text-info">Academic Information</h3></caption>
                   <table class="table">
                   <th>Course Num</th><th>Course Name </th><th>Course Description</th>
                   <%console.log(Courses);%>
                    <%for(var i in Courses){ if(!Courses[i].cCourseNum)continue;%>
                      <tr><td><%=Courses[i].cCourseNum%></td>
                      <td><%=Courses[i].cCourseName%></td>
                      <td><%=Courses[i].cCourseDescription%></td></tr>
                      <%}%>
                   </table>
        </div>
    </div>
</div>
</body>
</html>


