doctype html
html
  head
    title User Login - GHelp
    meta(charset='utf-8')
    link(href='stylesheets/bootstrap.min.css', rel='stylesheet')
    script(src='/javascripts/jquery-2.1.1.min.js', type='text/javascript')
    script(src='/javascripts/bootstrap.min.js', type='text/javascript')
    style(type='text/css').
      .panel-body{
      padding: 30px 50px 0 50px;
      }
      .form-group{
      margin-bottom: 35px;
      }
      .panel-title{
      font-size: 24px;
      font-weight: bold;
      }
    script(type='text/javascript').
      function login(){
      var username = $('#username').val(),password = $('#password').val();
      var data = { "uname": username, "upwd":password};
      $.ajax({
      url:'/login',
      type:'POST',
      data:data,
      success:function(data,status){
      if(status == 'success'){
      location.href='home';
      }
      },
      error:function(data,status){
      if(status == "error"){
      location.href='home'
      }
      }
      });
      }
  body(bgcolor='#B0E2FF')
    .container.web-body(style='margin-top:100px;width: 900px;', bgcolor='#B0E2FF')
      .row
        .col-lg-6.col-lg-offset-3
          .panel.panel-default
            .panel-heading(style='height: 50px;')
              .panel-title(style='text-align: left') User Login
            .panel-body(bgcolor='#B0E2FF')
              form.form-horizontal(action='#', role='form', method='post')
                .form-group
                  input#username.form-control(type='text', name='username', placeholder='Student Num')
                .form-group
                  input#password.form-control(type='password', name='password', autocomplete='off', placeholder='Password')
                .form-group
                  input.btn.btn-success.btn-block(type='button', onclick='login();', value='Login')
              a.btn.btn-xs.btn-info.btn-link(href='RegisterHostFamily', style='margin-left: 35px;') Want to be a HostFamily? Register Here
            a.btn.btn-xs.btn-info.btn-link(href='AssignMentor', style='align')
              | For Test, Assign Mentor Page From here. In real system this page will be operated isolated by Administer.
