<!DOCTYPE html>
<html>
<head>
    <title>Manage Events</title>
    <meta charset="utf-8">
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/stylesheets/style.css" rel="stylesheet" media="screen">
    
    <script src="/javascripts/jquery-2.1.1.min.js" type="text/javascript"></script>
    <script src="/javascripts/bootstrap.min.js" type="text/javascript"></script>
    
</head>
<body>

<div class="container">
	<br/>
	<div class="row">
	<h1 class="text-primary"><a href="home">GHelp System</a></h1>
		
		<a class="btn btn-xs btn-success NavigationButton" href="ManageEvents" style="margin-right: 35px;">Manage Events</a>
		<a class="btn btn-xs btn-success NavigationButton" href="ViewStaff" style="margin-right: 35px;">View Staff</a>
		<a class="btn btn-xs btn-success NavigationButton" href="RegisterMentor" style="margin-right: 35px;">Register Mentor</a>
		<a class="btn btn-xs btn-success NavigationButton" href="ChooseHostFamily" style="margin-right: 35px;">Choose HostFamily</a>
		<a class="btn btn-xs btn-success NavigationButton" href="CommunityBoard" style="margin-right: 35px;">Community Board</a>
		<a class="btn btn-xs btn-info" href="index">Logout</a></li>
		
	</div>
	<br/>
	
	<div class="row">
    	<div class="col-sm-8 pull-bottom">
    		<h3 class="text-info">Register to Event</h3>
    	</div>
	</div>	
	
	
	<div class="panel-body">
		<h4 class="text-info">Events Information</h4>
		<table class="table">
			<th>Event Reference Num</th><th>Event Time </th><th>Event Description</th>
			<tr><td>001</td><td>2015/06/07</td><td>Party Party Handsome Boys</td></tr>
			<tr><td>002</td><td>2015/06/08</td><td>Party Party Pretty Girls</td></tr>
		</table>


		<div class="span5 pull-right">
			<form action="#"  role="form" method="post" >
			<div class="input-group ">
				<input id="cname" type="text" class="form-control"  name="cname" placeholder="Event Reference Num" />
				<span class="input-group-btn">
					<input type="button" class="btn btn-success btn-block" onclick="" value="Register to the Event" />
				</span>
			</div>
			</form>
		</div>
	</div>
	
</div>

</body>
</html>


