<!DOCTYPE html>
<html>
<head>
    <title>Register Mentor - GHelp</title>
    <meta charset="utf-8">
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/stylesheets/style.css" rel="stylesheet" media="screen">
    
    <script src="/javascripts/jquery-2.1.1.min.js" type="text/javascript"></script>
    <script src="/javascripts/bootstrap.min.js" type="text/javascript"></script>
    <style type="text/css">
        .panel-body{
            padding: 30px 50px 0 50px;
        }
        .form-group{
            margin-bottom: 35px;
        }
        .panel-title{
            font-size: 24px;
            font-weight: bold;
        }
    </style>
    <script type="text/javascript">
        function registermentor(){

	var data = 0;
            $.ajax({
                url:'/RegisterMentor',
                type:'POST',
                data:data,
                success:function(data,status){
                    if(status == 'success'){
						alert("You have registered as a Mentor. Please login again!");
                        location.href='index';
                    }
                },
                error:function(data,err){
					alert("You are not eligible to register as a Mentor.");
                    location.href='home';
                }
            });

		}
    </script>
</head>
<body>

<div class="container">
	
	<br/>
	<div class="row">
	<h1 class="text-primary"><a href="home">GHelp System</a></h1>
		
		<a class="btn btn-xs btn-success NavigationButton" href="ManageEvents" style="margin-right: 35px;">Manage Events</a>
		<a class="btn btn-xs btn-success NavigationButton" href="ViewStaff" style="margin-right: 35px;">View Staff</a>
		<a class="btn btn-xs btn-success NavigationButton" href="RegisterMentor" style="margin-right: 35px;">Register Mentor</a>
		<a class="btn btn-xs btn-success NavigationButton" href="ChooseHostFamily" style="margin-right: 35px;">Choose HostFamily</a>
		<a class="btn btn-xs btn-success NavigationButton" href="CommunityBoard" style="margin-right: 35px;">Community Board</a>
		<a class="btn btn-xs btn-info" href="index">Logout</a></li>
		
	</div>
	<br/>
	
	<div class="row">
    	<div class="col-sm-8 pull-bottom">
    		<h3 class="text-info">Register Mentor</h3>
    	</div>
	</div>	
	
	<div class="row" style="margin-top: 30px;">
		<div class="col-sm-8 col-lg-offset-2">
			<div class="panel panel-default">
				<div class="panel-heading">
                    <div class="panel-title">Mentor Guideline</div>
                </div>
                
                <div class="panel-body">
                    <p><b>As a Mentor you will:</b><br/>
                    <ul>
  						<li>connect with your Mentee prior to his or her arrival and answer any questions regarding life at Memorial or in St. John’s</li><br/>
  						<li>introduce your Mentee to campus and act as a “go-to-person” throughout the duration of the semester</li><br/>
  						<li>help your Mentee become involved in campus and community events</li><br/>
  						<li>discuss your Mentee’s concerns and challenges and, when necessary, refer him or her to the appropriate services on campus</li><br/>
  						<li>participate in social activities with your Mentee and other participants (including events organized by MUN Mentors)</li><br/>
  						<li>provide a friendly and familiar face around campus and in St. John’s and be part of a truly meaningful volunteer experience</li><br/>
  						<li>learn about a new culture, attend training and workshops, and complete reports and evaluations as necessary</li>
					</ul>
                    </p>
                    <br/>
                    
                    <p><b>To be eligible you must:</b><br/>
                    <ul>
  						<li>have completed at least two terms at Memorial</li><br/>
  						<li>have a cumulative GPA of over 2.5</li><br/>
  						<li>submit the application by the indicated deadline</li><br/>
  						<li>attend an interview with the program coordinator</li><br/>
  						<li>be available to attend training sessions in the semester prior to your first participation</li><br/>
  						<li>commit a minimum of 10 hours per month to the program (including meeting and administrative time)</li>
					</ul>
					</p>
					<br/>
					
                    <form action="#" class="form-horizontal" role="form" method="post" >
                        <div class="form-group">
                        	<%var bIsmentor = user.cIsMentor, Isnew = user.cSemester%>
                            <input type="button" class="btn btn-success pull-right" onclick="registermentor()" value="Accept, to be a Mentor" />
                        </div>
                    </form>
                </div>
                
			</div>
		</div>
	</div>
</div>
	
</body>
</html>


